@model HP_furniture.Models.Phong

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout1.cshtml";
}

<h4>CHI TIẾT PHÒNG</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Loại phòng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaiPhong.TenLoaiPhong)
        </dd>

        <dt>
            Tên phòng khách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhongKhach)
        </dd>

        <dt>
            Hình ảnh phòng khách
        </dt>

        <dd>
            <img src="@Model.HinhAnhPhongKhach" width="200" />
        </dd>

        <dt>
            Hình ảnh thêm 1
        </dt>
        <dd>
            <img src="@Model.HinhAnh1" width="200" />
        </dd>

        <dt>
            Hình ảnh thêm 2
        </dt>
        <dd>
            <img src="@Model.HinhAnh2" width="200" />
        </dd>

        <dt>
            Hình ảnh thêm 3
        </dt>
        <dd>
            <img src="@Model.HinhAnh3" width="200" />
        </dd>

        <dt>
            Mô tả ngắn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mt1)
        </dd>

        <dt>
            Mô tả dài
        </dt>
        <dd>
            @Html.Raw(Model.MoTaDai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
